@use "sass:map";
@use "themes";
.App {
  @include themes.theme0;
  &.theme1 {
    @include themes.theme1;
  }
  &.theme2 {
    @include themes.theme2;
  }
  margin-block: 0;
  margin-inline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  display: grid;
  width: 100%;
  grid-template-columns: 24.5ch 1fr;
  grid-template-rows: 3em 1fr;
  grid-template-areas: 
    'sidebar nav'
    'sidebar page';
  .Logo {
    margin-inline: auto;
    width: 10em;
    height: 10em;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }
}
