.QueryPage{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    margin-block-end:auto;
    grid-area: page;
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        'query'
        'result';
    .QueryEditor{
        padding: 1ch;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        resize:none !important;
        background:var(--secondary);
        color: var(--on-secondary);
        grid-area: query;
        overflow-y: auto;
        &:focus{
            outline: none;
        }
    }
    .QueryResult{
        padding: 1ch;
        background: var(--secondary-variant);
        color: var(--on-secondary);
        grid-area: result;
        overflow-y: auto;
    }
}